<section id="sidebar_memo">
	<div class="inner">
		<nav>
			<ul>
				<li><a href="#intro">1. Anthropocene, exosomatization and negentropy</a></li>
				<li><a href="#one">2. Carbon and silicon: contribution to a critique of political economy</a></li>
				<li><a href="#two">3. Infrasomatization, Really Smart Cities and urban metabolism</a></li>
				<li><a href="#three">4. POV and Locality</a></li>
				<li><a href="#four">5. Social sculpture and contributive research: knowledge, art and technology</a></li>
				<li><a href="#five">6. Contributory economy or economy of contribution</a></li>
				{% comment %} <li><a href="#six">chapter 6</a></li> {% endcomment %}

			</ul>
		</nav>
	</div>
</section>