{% comment %} <section id="sidebar">
	<div class="inner">
		<nav>
			<ul>
				<li><a href="#intro">About</a></li>
				<li><a href="#one">Memorandum</a></li>
				<li><a href="#two">Members</a></li>
				<li><a href="glossary.html">Glossary</a></li>
			    <li>Contact us at contact@internation.world</li>
		</nav>
	</div>
</section> {% endcomment %}

<section id="sidebar">
	<div class="inner">
		<nav>
			<ul>
			{% for link in page.navigation %}
				{% assign current = nil %}
				{% if page.url contains link.url %}
					{% assign current = 'current' %}
				{% endif %}
				<li class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
					<a href="{{ link.url }}">{{ link.title }}</a>
				</li>
			{% endfor %}
				<li><a href="glossary.html">Glossary</a></li>
			</ul>
		</nav>
	</div>
</section>
